*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# netbeans
nbproject/*
nbproject/private/
!nbproject/project.properties
!nbproject/project.xml
build/
nbbuild/
dist/

# the dist file could make some problems
# dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

derby.log
*.ctrl
*.dat
