/SmartCare WebApp/nbproject/private/
/SmartCare WebApp/build/
/SmartCare WebApp/dist/
/SmartCareWeb/nbproject/private/
/SmartCareWeb/build/
/SmartCareWeb/dist/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/SmartCareWebApp/nbproject/private/
/SmartCareWebApp/build/
/SmartCareWebApp/dist/
/WebApplication2/nbproject/private/
/WebApplication2/build/
derby.log
*.ctrl
derby.log
SmartCare/db.lck

*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
# Except the mysql connector!
!/lib/mysql-connector-java-8.0.13.jar
*.war
*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
# netbeans
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
dist/
nbproject/private/
build/
nbbuild/
# the dist file could make some problems
# dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
# Eclipse
.classpath
.project
.settings/
# Intellij
.idea/
*.iml
*.iws
# Mac
.DS_Store
# Maven
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml